<html>
    <head>
        <title>jsonp test</title>
        <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>      
        
    </head>
    <body>
        <div id="select_div"><a href="#" id="select_link">Test</a></div>  

        Enter UserName: <input type="text" id="txtUserName" />    
    Password: <input type="password"  />
    
    <div id="display" style="width:100px; font-family:Georgia; padding:5px 5px 5px 5px; font-weight:bold; font-size:14px"></div>   

    </body>
    <script type="text/javascript">
            
        </script>
</html>
